<h1 class="text-center title-view my-4">{{ titulo }}</h1>
<h5 class="text-center sub-title  my-4">{{ descricaoTitulo }}</h5>

<div class="container py-4 bg-white rounded">
    <div class="row d-flex">
        <div class="col-md-12">
            <div class="text-right">
            <app-btn-novo-cartao 
                [estilo]="'btn btn-success pull-right mb-3'" 
                [texto]="'Novo cartão'" 
                (novoCartaoEvent)="novoCartao($event)"
            ></app-btn-novo-cartao>
        </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 mb-3 mb-sm-0" *ngFor="let cartao of cartoes;let i = index">
            <app-cartao 
                [cartao]="cartao" 
                [indiceCartao]="i"
                (notificaCartaoExcluidoEvent)="removeCartao($event)"
            ></app-cartao>
        </div>
    </div>
</div>
